{% extends 'news/base.html' %}

{% block head_title %}
    {{ post.title }} - News
{% endblock %}

{% block main_area %}
<!-- Post content-->
<div id="post-area">
    <article>
        <!-- Post header-->
        <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1 mt-4">{{ post.title }}</h1>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">{{ post.created_at }}</div>
            <!-- Post categories-->
            <a class="badge bg-secondary text-decoration-none link-light" href="#!"> {{ post.category.name }} </a>
            <!-- Author -->
            <p class="lead">
                작성자
                <a href="#">{{ post.author | upper }}</a>
            </p>
        </header>
        <!-- Preview image figure-->
        {% if post.head_image %}
            <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="..." /></figure>                            
        {% else %}
            <figure class="mb-4"><img class="img-fluid rounded" src="https://picsum.photos/seed/{{post.id}}/600/300" alt="..." /></figure>
        {% endif %}
        <!-- Post content-->
        <section class="mb-5">
            <p class="fs-5 mb-4"> {{post.content}} </p>
        </section>                        
        <!-- download button -->
        {% if post.file_upload %}
            <a type="button" href="{{ post.file_upload.url }}">Download: 
                <!-- zip -->
                {% if post.get_file_ext == 'zip' %}
                <i class="fa-solid fa-file-zipper"></i> 
                <!-- excel, csv -->
                {% elif post.get_file_ext == 'csv' or post.get_file_ext == 'xls' or post.get_file_ext == 'xlsx' %}
                    <i class="fa-solid fa-file-excel"></i>                        
                <!-- jpg, jpeg, png -->
                {% elif post.get_file_ext == 'jpg' or post.get_file_ext == 'jpeg' or post.get_file_ext == 'png' %}
                    <i class="fa-regular fa-file-image"></i>
                <!-- else -->
                {% else %}
                    <i class="far fa-file"></i>
                {% endif %}
                {{ post.get_file_name }}
            </a>
        {% endif %}
    </article>
</div>
<hr>
<!-- Comments section-->
<section class="mb-5">
    <div class="card bg-light">
        <div class="card-body">
            <!-- Comment form-->
            <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
            <!-- Comment with nested comments-->
            <div class="d-flex mb-4">
                <!-- Parent comment-->
                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                <div class="ms-3">
                    <div class="fw-bold">Commenter Name</div>
                    If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                    <!-- Child comment 1-->
                    <div class="d-flex mt-4">
                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                        <div class="ms-3">
                            <div class="fw-bold">Commenter Name</div>
                            And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                        </div>
                    </div>
                    <!-- Child comment 2-->
                    <div class="d-flex mt-4">
                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                        <div class="ms-3">
                            <div class="fw-bold">Commenter Name</div>
                            When you put money directly to a problem, it makes a good headline.
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single comment-->
            <div class="d-flex">
                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                <div class="ms-3">
                    <div class="fw-bold">Commenter Name</div>
                    When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}